body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    color: white;
    text-decoration: none;
}

header{
    background-color: #14161A;
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;    
    margin-right: 28px;
}

nav a {
    font-weight: 600;
    padding-right: 11px;
}

nav a:hover {
    color: #f0DBAF
}

@media (max-width: 700px) {
    header{
        flex-direction: column;
    }
    nav {
        padding: 10px 0px;
    }
}